.image-landscape {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 50%;
  height: 40%;
  float:center;
  border-radius: 1%;
}

.image-inline {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 50%;
  height: 40%;
  border-radius: 1%;

}

/* .margins {
  margin-left: 100px;
  margin-right: 100px;
} */



